# Node modules
node_modules/

# Log files
*.log
npm-debug.log*

# Environment files
.env
.env.local
.env.*.local
.env.test

# Operating System files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
.history

# Build output
/dist
/build
**/**/dist/**

# Test coverage
coverage/
__tests__

# Temporary files
*.swp
*.swo

scripts